
<div class="container divcenter">
    <div class="row">
        <div class="col-md-12">
            <h3> FORMULARIO DE CONTACTO </h3>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label for="nombreApellidos" class="form-label">Nombre y apellidos</label>
                <input type="text" name="nombreApellidos" class="form-control" id="nombreApellidos">
            </div>
            <div>
            </div>
            <div class="mb-3">
                <label for="telf" class="form-label">Teléfono</label>
                <input type="telf" name="telf" class="form-control" id="telf">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" name ="direccion" class="form-control" id="direccion">
            </div>
            <div class="mb-3">
                <label for="localidad" class="form-label">Localidad</label>
                <input type="text" name="localidad" class="form-control" id="localidad">
            </div>
            <div class="mb-3">
                <label for="provincia" class="form-label">Provincia</label>
                <input type="text" name="provincia" class="form-control" id="provincia">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Contraseña</label>
                <input type="password" name="password1" class="form-control" id="password1">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Repetir Contraseña</label>
                <input type="password" name="password2" class="form-control" id="password2">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Acepto las condiciones de uso
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>
    
</div>
