<div class="container divcenter">
    <div class="row">
        <div class="col-md-12">
            <h3> ¡Bienvenido! Introduce tus datos </h3>
        </div>
    </div>    
    <div class="row">
        <div class="abs-center form">
            <div class="mb-3 ">
                <label for="nombreApellidos" class="form-label">Nombre</label>
                <input class="form-control-sm" type="text" name="nombreApellidos" class="form-control" id="nombreApellidos">
            </div>
            <div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"> Contraseña</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        <div class="container">
            ¿Aún no estás registrado? <br>
            Sign in
        </div>
    </div> 
</div>



