.divcenter {
    max-width: 50rem;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
h3{
    text-align: center;
    margin-bottom: 5rem;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    text-align: center;
}

input:not([type="submit"]){
    padding: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: #f0f0f0 ;
    border-radius: 0.5rem;
    }

.btn{
    width: 8rem;
    text-transform: uppercase;
    background-color:#b92cf5;
    border-color: blueviolet;
}

.btn:hover{
    opacity: 0.8;
}

.abs-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

