<div class="container divcenter ">
    <div class="row">
        <div class="col-md-12">
            <h3>Formulario de Login </h3>
        </div>
    </div>
    <div class="row">
        <form class="bg-light">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre* </label>
                    <input id="nombre" type="text"
                    name="nombre"
                    formControlName = "nombre"
                    class="form-control">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Contraseña*</label>
                    <input  id="pass" type="password" 
                    name = "pass"
                    formControlName = "pass" 
                    class = "form-control">
                </div>
                <div class="text-center">
                    <button type="submit"
                    class="btn btn-primary"
                    value="enviar">LogIn</button>
                </div>
            </div>
        </form>
    </div>
</div>




